/* .put{
    color: greenyellow;
}
.private{
    color:midnightblue;
}
p.private.pick{
    color:midnightblue;
    border: 1px dashed;
} */
/* div .private{
    color: green;
} */
a[href*="thenetninja"]{
    background-color: aqua;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
a[href$=".com"]{
    background: yellow;
    color: white;
    border: 2px solid blue;
}