body, ul, h1,h2, a{
    margin: 0;
    padding: 0;
    font-family: arial;
}

header{
    background-color: red;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
header h1{
    color: white;
    border: 8px solid white;
    border-radius: 36px;
    display: inline-block;
}


.band{
    position: relative;
}
.band img{
    width: 1000px;
}
.band .pain{
    background-color: #ffa500;
    color: white;
    padding: 5px;
    position: absolute;
    left: 0;
    top: 30%;
}
.band h2{
    font-size: 50px;
}
.band h2 span{
    font-size: 1.3em;
}
nav li{
    width: 25%;
    display: inline-block;
    font-size: 15px;
}
nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}
nav{
    background-color: bisque;
    padding: 20px;
    position: sticky;
    top: 70px;
}
nav li a{
    text-decoration: none;
    color: blueviolet;
}
nav li a.Jam{
    color: green;
}
main{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
    
}
article h2{
    color: blueviolet;
    font-size: 48px;
}
article p{
    line-height: 2em;
    color: rgb(204, 195, 195);
}
.images{
    text-align: center;
    margin: 80px 0;
    white-space: nowrap;
}
.images li{
    display: inline-block;
    width: 40%;
    margin: 20px 5%;
}
.imagages li img{
    max-width: 100%;
}
.ban{
    text-align: center;
    background-color: darkcyan;
    padding: 60px 20px;
    color: #4b4b4b;
}
form input{
    margin: 24px 0;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 24px;
    border: 4px solid peru;
}
.copyright{
    background: orangered;
    color: aquamarine;
    padding: 10px;
    text-align: center;
}

nav li a:hover{
    text-decoration: underline;
}